<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="ch.helin.project_helin_customer_app">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="project helin" android:theme="@style/HelinTheme">
		<!--		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="AIzaSyAc0DiLABEAdGciJuQK3CbhUkae0-0nbWk" />-->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAYolXpuGXy7LWoPX1EkxEtCQZEruoxhJM" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>